*

!.gitignore
!README.md
!setup.py
!main.py
!data_preparation.py
!requirements.txt
!install.sh


!figures/
!figures/website.png

!src/
!src/**

!notebooks/
!notebooks/example.ipynb

!models/
!models/RoBep/
!models/RoBep/20250626_110438
!models/RoBep/20250626_110438/best_mcc_model.bin
!models/RoBep/20250626_110438/config.json

!data/
!data/species.json
!data/virus_nsp.csv
!data/pdb/5i9q.pdb
!data/epitopes/
!data/epitopes/data_splits.json
!data/epitopes/antigen_metadata.csv
!data/epitopes/epitopes.csv
!data/epitopes/clusters.csv
!data/epitopes/train_antigens.fasta
!data/epitopes/test_antigens.fasta
!data/epitopes/train_epitope.csv
!data/epitopes/test_epitope.csv

__pycache__/
*.pyc
